body {
  font-family: arial, sans-serif;
}

nav {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 220px;
}

.menu {
  height: 20px;
  width: 20px;
  border: solid 10px white;
}

.menu:hover {
  cursor: pointer;
  border: solid 10px #efefef;
  border-radius: 50%;
  background-color: #efefef;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: solid 5px white;
}

.avatar:hover {
  cursor: pointer;
  border: solid 5px #efefef;
  border-radius: 50%;
}

.container-main {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 35%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.google-img {
  margin: auto;
  width: 50%;
}

input[name='searchbar'] {
  border-radius: 20px;
  height: 35px;
  border-color: lightgray;
  border-width: 1px;
  margin: 20px;
}

.container-btns {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  background-color: #efefef;
  border: solid #efefef 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  cursor: pointer;
  letter-spacing: 0.2px;
}

button:hover {
  border: solid 1px #a0a0a0;
  box-shadow: 0 8px 10px -10px #a0a0a0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: #efefef;
  color: #a0a0a0;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}
